* {
  box-sizing: border-box;
}

body{
  background: #eee;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0 5px;
}

.chat {
  position: fixed;
  left: 50%;
  transform: translate(-50%,20px);
  width: min(600px, calc(100% - 20px));
  height: 86%;
  background: #fff;
  color: #1e1e1f;
  padding: 5px;
  overflow-y: scroll;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}


.chat::-webkit-scrollbar {
  display: none;
}

.chat::-moz-scrollbar {
  display: none;
}


.actions {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-20px);
  display: block;
  width: min(600px, calc(100% - 20px));
  height: 7%;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.actions input{
  display: block;
  height: 100%;
  width: 100%;
  font-size: .94em;
  letter-spacing: .5px;
  padding: 0 3px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom-color: black;
  transition-duration: .1s;
}

.actions input:focus {
  border-color: lightblue;
}

.messages div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: lightblue;
}

.messages .self {
  text-align: right;
  margin-left: auto;
  background: #DDD;
}