
:root {
  --inputBoxBlue: RGB(170,170,255);
}



/*Class mobile-show. Shows on mobile, hides on the rest*/
@media screen and (max-width: 767px){
  .mobile-show{
    display: block;
  }
  .mobile-show.inline{
    display: inline-block;
  }
  .others-show{
    display: none!important;
  }
}
@media screen and (min-width: 768px){
  .mobile-show{
    display: none!important;
  }
  .others-show{
    display: block;
  }
  .others-show.inline{
    display: inline-block;
  }
}



.no-margin{
  margin: 0;
}

.margin-10{
  margin: 10px;
}

.margin-15{
  margin: 15px;
}

.margin-20{
  margin: 20px;
}

.margin-30{
  margin: 30px;
}

.margin-40{
  margin: 40px;
}
 
.margin-60{
  margin: 60px;
}

.margin-80{
  margin: 80px;
}





@media screen and (min-width: 768px){

  .margin-10.x2{
    margin: 20px;
  }

  .margin-15.x2{
    margin: 30px;
  }

  .margin-20.x2{
    margin: 40px;
  }

  .margin-30.x2{
    margin: 60px;
  }

  .margin-40.x2{
    margin: 80px;
  }
  
  .margin-60.x2{
    margin: 120px;
  }

  .margin-80.x2{
    margin: 160px;
  }
  
}






.block-links a {
  display: block;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}



.button {
  padding: 5px 18px;
  border: 1px outset;
  border-radius: 12px;
  cursor: pointer;
}

.button:active {
  border-style: inset;
}




.circle, .square {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.circle { border-radius: 50%; }

.circle>*, .square>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-53%);
}



.spins {
  animation: spin-d 2s infinite linear;
}

@keyframes spin-d {
  
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform:rotate(359deg);
  }

}



.infinite-fade {
  animation: anim-fade-s 3.5s infinite;
}
.infinite-fades:hover{
  animation: none;
}
  
@keyframes anim-fade-s {
  30% {
    opacity: 0;
  }
}



.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.8s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}




.greyscale, .hover-greyscale:hover {
  filter: grayscale(100%);
}

.sepia, .hover-sepia {
  filter: sepia(100%);
}





.img-grid {
  padding: 1em;
  background: #eee;
  margin: 10px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.img-grid:hover {
  -webkit-box-shadow: 0 20px 40px 10px rgba(0, 0, 0, .3), 0 -20px 40px -10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 20px 40px 10px rgba(0, 0, 0, .3), 0 -20px 40px -10px rgba(0, 0, 0, .3);
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, .3), 0 -20px 40px -10px rgba(0, 0, 0, .3);
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -ms-transition: 0.2s all;
}



.hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}



.full-bg {
  background-size: cover;
  background-position: center;
}


.complete-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}





.misc-img-default{
  object-fit: cover;
  width: 100%;
  height: 280px;
}


@media screen and (min-width: 768px){

  .misc-img-default{
    height: 300px;
  }

}



.text-wh {
  color: white!important;
}

.text-bl {
  color: black!important;
}

.bg-wh {
  background: white;
  color: black;
}

.bg-bl {
  background: black;
  color: white;
}





.well {
  background: #eee;
  padding: 10px;
  border: 1px solid #fff;
  border-style: inset;
}

.well span {
  font-variant: all-petite-caps;
  color: #000;
}



.remover {
  color: red;
  cursor: pointer;
  padding: 3px;
}

.remover:hover {
  color: darkred;
}



.misc-card, .ntf-card {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.ntf-card {
  position: fixed;
  top: 0;
  /*Display at exact middle*/
  left: 50%;
  transform: translate(-50%,0%);
  z-index: 99999;
}




.soft-shadow {
  box-shadow: 6px 10px 30px 0 rgb(0 0 0 / 15%);
}



.bulge{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}



.big-bulge{
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%), 0 11px 8px rgb(0 0 0 / 22%), 0 -15px 30px rgb(0 0 0 / 30%), 0 -11px 8px rgb(0 0 0 / 22%);
}




.relative {position:relative;}
.absolute {position:absolute;}
.sticky {position:sticky;}
.static {position:static;}


.misc-top {
  position: absolute; left: 50%; top: 0; transform: translate(-50%,0%); -ms-transform:translate(-50%,0%);
}

.misc-bottom {
  position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0%); -ms-transform: translate(-50%,0%);
}

.misc-left {
  position: absolute; top: 50%; left: 0%; transform: translate(0%,-50%); -ms-transform: translate(-0%,-50%);
}

.misc-right {
  position: absolute; top: 50%; right:0%; transform: translate(0%,-50%); -ms-transform: translate(0%,-50%);
}

.misc-topleft {
  position: absolute; left: 0; top: 0;
}

.misc-topright {
  position: absolute; right: 0; top: 0;
}

.misc-middle {
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
}

.misc-bottomleft {
  position: absolute; left: 0; bottom: 0;
}

.misc-bottomright {
  position: absolute; right: 0; bottom: 0;
}





.misc-overlay {
  position: absolute;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:2;
}


